<h2>Kontakt</h2>

<div class="contact-container">
  <div class="contact">
    <p>Stefan Laumann</p>
    <p>Luisenstr. 10<br>33602 Bielefeld</p>
    <p><a href="mailto:stefan.laumann@live.de">stefan.laumann@live.de</a></p>
    <p><a href="tel:+4952196874141">0521 96 874 141</a> / <a href="tel:+491729686743">0172 96 86 743</a></p>
  </div>
  <div class="map">

    <google-map
      height="100%"
      width="100%"
      [zoom]=14.6

      [center]="{lat: 52.016324, lng: 8.533640}">
      <map-marker
        [position]="{lat: 52.014998, lng: 8.535430}"
        [options]="markerOptions"
      >
      </map-marker>
    </google-map>

  </div>
</div>

<h2>Über mich</h2>

<p>Geboren am 28.11.1977 in Bielefeld, verheiratet ohne Kinden.</p>

<h5 style="margin-top: 10px;">Hobbies</h5>
<ul>
  <li>Klavier spielen, Musik</li>
  <li>Wandern</li>
  <li>Kulturelle Veranstaltungen (Theater, Konzerte, Museen)</li>
  <li>Kneipenquiz</li>
  <li>E-Sports (EA Fifa)</li>
</ul>
<h5>Soft Skills / Stärken</h5>
<ul>
  <li>Teamfähigkeit</li>
  <li>Kommunikationsfähigkeit</li>
  <li>Flexibilität / Anpassungsfähigkeit</li>
  <li>Selbstständiges Arbeiten</li>
  <li>Problemlösungskompetenz</li>
  <li>Verantwortungsbewusstsein</li>
  <li>Beharrlichkeit</li>
  <li>Strukturierte Arbeitsweise</li>
  <li>Empathie</li>
  <li>Kritikfähigkeit</li>
  <li>Analytisches Denken</li>
  <li>Beharrlichkeit</li>
</ul>
