<h2>Aktuelle Projekte | <a href="https://zingmobileapps.com/">ZING Mobile Apps</a></h2>

<div class="project">
  <h4>Ordering Web-App für Convenience Stores & Restaurants</h4>
  <h3>Order Ahead</h3>
  <div>
    <p>
      Online-Bestell- und Liefersystem als Web-App und Modul zur Integration in Store Apps.<br>
      Features u.a.:
    </p>
    <ul>
      <li>Artikelkategorien in mehreren Ebenen</li>
      <li>Komplexe Auswahl verschiedener Optionen oder Ausprägung für Artikel</li>
      <li>Onlinezahlung (Kreditkarte, Apple Pay)</li>
      <li>Lieferoptionen mit Adresserkennung, Grab & Go</li>
      <li>Push Benachrichtigung zum Bestellstatus</li>
      <li>Steuerausweisung, Trinkgeldvergabe</li>
      <li>Store-Backend zur Bestellverwaltung</li>
    </ul>
  </div>
  <p style="margin-bottom: 10px;">
    <a class="application-link" href="https://zingmobileapps.com/live-demo">LIVE DEMO</a>
    <a class="application-link" href="https://zingmobileapps.com/remote-ordering">MEHR INFOS</a>
  </p>
  <p>Tech-Stack u.a.: <span class="tech-stack">Angular, TypeScript, HTML, SCSS, Sentry, Bootstrap, Stripe</span></p>
</div>

<div class="project">
  <h4>Cross-Platform-Apps mit Ionic + Angular</h4>
  <h3>Store Apps</h3>
  <div>
    <p>
      16+ Apps (iOS / Android) für US-amerikanische Tankstellen- und Convenience Store Ketten. Erstellt mit dem Ionic
      Framework zur Cross-Plattform-Entwicklung mit Angular als zugrunde liegendes JS-Framework.
    </p>
    <br>Features u.a.:
    <ul>
      <li>Bezahlen per App an der Zapfsäule (Pay At Pump)</li>
      <li>Location- / Store-Manager inkl. Benzinpreisanzeige</li>
      <li>Self-Check-Out (GoSkip)</li>
      <li>Push Benachrichtigungen, Barcode-Scanner</li>
      <li>Benutzerverwaltung</li>
      <li>Bereitstellen aktueller Angebote / Coupons.</li>
      <li>Einbinden unserer Order Ahead Web App (s.o.)</li>
      <li>Anbindung an Zahlungs- und Kassensysteme via APIs/SDKs (z.B. Zipline/PDI, CGo, Stripe).</li>
      <li>Anbindung an Loyaltysysteme im Conexxus/NCR RLM Standard (APIs, Multiplexer).</li>
      <li>Anbindung an das Altria (vormals Philip Morris) Tobacco Loyalty + Coupons Programm via API.</li>
      <li>Kommunikation zwischen Endkunden + Kundenservice.</li>
      <li>Eigene Backend-Lösung (s.u.)</li>
    </ul>
    <p>
      Beispiel-Apps, App-Store Links:<br>
      <span style="font-size: smaller">
        (Hinweis: die Apps sind nur für den US-amerikanischen Markt zugelassen und lassen sich daher nicht aus dem
        deutschen App-Store herunterladen.)
      </span>
    </p>
    <ul>
      <li><a href="https://apps.apple.com/us/app/speedyq/id1298615626">SpeedyQ Markets</a>, Convenience Stores +
        Tankstellen
      </li>
      <li><a href="https://apps.apple.com/us/app/pride-stores-stations/id1291403995">Pride Stores / GPM Investments</a>,
        Convenience Stores + Tankstellen
      </li>
      <li><a href="https://apps.apple.com/us/app/lone-star-star-savers/id1298615010">Lone Star Food Stores</a>,
        Convenience Stores + Tankstellen
      </li>
    </ul>
    <p>
      <a class="application-link" href="https://zingmobileapps.com/">MEHR INFOS</a>
    </p>
  </div>
  <p>
    Tech-Stack u.a.: <span class="tech-stack">Angular, Ionic, Capacitor / Cordova, TypeScript, HTML, SCSS, Sentry,
    Java, Swift</span>
  </p>
</div>

<div class="project">
  <h4>Kiosksystem als Aufsteller in Tankstellen und Convenience Stores</h4>
  <h3>Kiosksystem</h3>
  <div>
    <p>Kiosksystem als Angular-Web-App. Eingebettet auf als Aufsteller verarbeitet Android-Tablets im Lock-Task-Mode.<br>
      Features u.a.:
    </p>
    <ul>
      <li>Benutzerverwaltung</li>
      <li>Verwaltung des verwendeten Loyalty-Programms.</li>
    </ul>
  </div>
  <p>Tech-Stack u.a.: <span class="tech-stack">Angular, TypeScript, HTML, SCSS, Sentry, Java</span></p>
</div>

<div class="project">
  <h4>Backend-Lösungen für vorhandene Apps</h4>
  <h3>Backend-Lösungen</h3>
  <div>
    <p>Backend-Lösungen jeweils für jede betriebene Store-App, dem Convenience Ordering und den Kiosk-Systemen.</p>
    <ul>
      <li>Datenbank (MongoDB)</li>
      <li>Cloud-Code-Funktionen als Schnittstellen nach außen, APIs</li>
      <li>Reporting Tools, Cloud Jobs (Cronjobs)</li>
      <li>Push Notification Backend</li>
    </ul>
  </div>
  <p>Tech-Stack u.a.: <span class="tech-stack">Parse BaaS (Back4App, MongoDB), Cloud Code, Node.js, JavaScript, Sentry,
    Google Firebase</span>
  </p>
</div>

<div class="project">
  <h4>Loyalty-Server / System zur Anbindung an Kassensysteme, Zapfsäulen + Store Apps</h4>
  <h3>Loyalty-Server</h3>
  <div>
    <p>
      Loyalty-System im Conexxus und NCR RLM Standard als Node.js / Express Server.<br>
      Features u.a.:
    </p>
    <ul>
      <li>Einbindung / Umsetzung beliebiger Loyaltyprogramme (Rabatte, Coupons, Punkte, Staffelungen).</li>
      <li>Anbindung an Kassensysteme und Tankstellenzapfsäulen (Conexxus, NCR RLM).</li>
      <li>Anbindung an Web- und Store Apps.</li>
      <li>Unterstützung virtueller + physischer Loyaltykarten.</li>
      <li>Datenverwaltung</li>
      <li>Diagnosetools, Ereignisprotokollierung</li>
      <li>Backend für Loyaltykunden (Support)</li>
    </ul>
  </div>
  <p>
    Tech-Stack u.a.: <span class="tech-stack">Node.js, Express, TypeScript (ts-node), XML-Body-Parser, Sentry, Loggly,
    AWS EC2</span>
  </p>
</div>
