@import '../styles.scss';

p {
  margin: 0 0 5px 0;
}

.container {
  max-width: $container-max-width;
  height: 100%;
  display: flex;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

.main {
  flex-grow: 1;
  padding-left: 20px;
}

.sidebar {
  border-left: 1px black solid;
  min-width: $sidebar-width;
  padding-left: 40px;
  padding-right: 20px;
}

.top-navigation {
  display: none;
  margin: 15px 15px 15px 0;
}

.cover-note {
  padding-bottom: 25px;
  border-bottom: 1px black solid;
  padding-right: 45px;
}

.home-link {
  margin-right: 10px;
  margin-bottom: 20px;
}

.portrait {
  width: 165px;
}

.footer {
  width: 100%;
  height: 25px;
  border-top: 1px solid black;
  margin-top: 40px;
  padding-top: 10px;
  font-size: smaller;

  & div:first-child {
    float: left;
  }

  & div:last-child {
    float: right;
    margin-right: 10px;
  }
}

@media all and (max-width: $container-min-width) {

  .sidebar {
    display: none;
  }

  .top-navigation {
    display: block;
  }

}
