<h2>Erfahrungen</h2>

<div>
  <div class="step">
    <h4><a href="https://zingmobileapps.com/">ZING Mobile Apps</a> in Edwards, CO, USA / Remote</h4>
    <h3>FRONTEND- / FULL STACK ENTWICKLER</h3>
    <p>
      Entwicklung von Web-Apps und Mobile-Apps auf Basis des Angular Frameworks und/oder Ionic Frameworks (mit Angular
      als JS-Framework) für US-amerikanische Tankstellen und Convenience Store Ketten. Der agile Entwicklungsprozess
      findet in Zusammenarbeit mit einem Team aus Entwicklern und Designern statt.<br>
      Projekte u.a.:
    </p>
    <ul>
      <li>
        Convenience Ordering: Vollständiges Online-Bestell- und Liefersystem als Web-App und Modul zur Integration in
        Store-Apps. Umgesetzt in Angular.
      </li>
      <li>
        14+ Store Apps (Android/iOS) als Cross-Platfrom Projekte, mit Anbindung an Bezahlsysteme, Loyalty-Programme
        und Self-Check-Out Lösungen via APIs. Umsetzung in Angular mit Ionic und Capacitor.
      </li>
      <li>Kiosksystem zum Verwalten von Loyalty-Accounts als Web-App. Umgesetzt mit Angular und Java.</li>
      <li>
        Backend-Lösungen für die Store-Apps, das Convenience Ordering und das Kiosksystem. Umgesetzt mit Parse BaaS,
        Cloud Code (JavaScript, Node.js).
      </li>
      <li>
        Loyalty-Server/System zur Anbindung an Kassensysteme, Zapfsäulen und Store Apps. Umgesetzt mit Node.js +
        Express, gehostet auf AWS EC2.
      </li>
    </ul>
    <br>
    <button [routerLink]="['/projects']" class="application-link">MEHR</button>
    <div class="timeline">2018 - Heute</div>
  </div>

  <div class="step">
    <h4>Freelancer</h4>
    <h3>FRONTEND- / ANWENDUNGS-ENTWICKLER</h3>
    <p>
      Entwicklung von Softwarelösungen, vor allem im Bereich sozialer Netzwerkanalyse / Kundendatenanalyse und Beratung
      vor Ort, u.a. für Kunden wie Schwerdt&Feger, AVA, Deutsche Post AG, SVI, Haufe Group.<br><br>
      Von <b>2013 bis 2014</b> kommissarische Geschäftsführung von Schwerdt&Feger und Hausverwaltung Schwerdtfeger.
    </p>
    <div class="timeline">2008 - 2018</div>
  </div>

  <div>
    <div class="step">
      <h4>STG, Verl + Handwerksbetrieb J. Gievers</h4>
      <h3>ANWENDUNGS-ENTWICKLER</h3>
      <p>
        Entwicklung und Wartung eines Fakturierungsprogramms für Handwerksbetriebe (Kundenverwaltung, Projekt- und
        Auftragsmanagement, Rechnungsstellung, Lagerverwaltung etc.).
      </p>
      <div class="timeline">2001 - 2008</div>
    </div>
  </div>

  <div>
    <div class="step">
      <h4>Infokom (heute regio iT), Gütersloh</h4>
      <h3>SOFTWARE ENTWICKLER, TRAINER</h3>
      <p>
        Wartung und Weiterentwicklung des digitalen kommunalen Sitzungsdiensts (KSD) für Städte und Gemeinden in
        Zusammenarbeit mit der Stadt Köln, der Stadt Hagen und dem Rhein-Sieg-Kreis, Schulungen.
      </p>
      <div class="timeline">1998-2001</div>
    </div>
  </div>

  <div>
    <div class="step">
      <h4>Freelancer</h4>
      <h3>SOFTWARE-ENTWICKLER</h3>
      <p>Projekte u.a.</p>
      <ul>
        <li>
          VisioMed Gesellschaft für Medizinische Informationssysteme: Programms zur Hautkrebsfrüherkennung für
          Hautarztpraxen und Kliniken.
        </li>
        <li>STG: Lernsoftware</li>
      </ul>
      <div class="timeline">1995-1999</div>
    </div>
  </div>

  <div>
    <div class="step" style="height: 95px;">
      <h4>Carl-Miele-Kolleg in Gütersloh</h4>
      <h3>DUALE AUSBILDUNG: INFORMATIONSTECHNISCHER ASSISTENT, FHSR</h3>
      <div class="timeline">1994-1997</div>
    </div>
  </div>
</div>
