<h2>Skills</h2>
<div class="skill">
  <h5>Angular Framework</h5>
  <app-progress-bar [progress]="95"></app-progress-bar>
</div>
<div class="skill">
  <h5>Ionic, Capacitor</h5>
  <p>Mobile Cross-Platform Entwicklung, Android/iOS</p>
  <app-progress-bar [progress]="95"></app-progress-bar>
</div>
<div class="skill">
  <h5>TypeScript / Javascript</h5>
  <app-progress-bar [progress]="95"></app-progress-bar>
</div>
<div class="skill">
  <h5>HTML & SCSS / CSS</h5>
  <app-progress-bar [progress]="85"></app-progress-bar>
</div>
<div class="skill">
  <h5>Node.js</h5>
  <p>npm, Express</p>
  <app-progress-bar [progress]="80"></app-progress-bar>
</div>
<div class="skill">
  <h5>Responsive & Mobile Designs</h5>
  <app-progress-bar [progress]="85"></app-progress-bar>
</div>
<div class="skill">
  <h5>RESTful Services & APIs</h5>
  <app-progress-bar [progress]="78"></app-progress-bar>
</div>
<div class="skill">
  <h5>Backend</h5>
  <p>Parse BaaS (mit MongoDB), Cloud Functions, Cloud Jobs, in Teilen: AWS, Microsoft Azure</p>
  <app-progress-bar [progress]="78"></app-progress-bar>
</div>
<div class="skill">
  <h5>Version Control, CI/CD, etc.</h5>
  <p>Git, GitHub, GitHub Actions (CI/CD), Bitbucket, Azure Repos, IntelliJ IDEA VC, Docker</p>
  <app-progress-bar [progress]="74"></app-progress-bar>
</div>
<div class="skill">
  <h5>Weitere:</h5>
  <p style="font-weight: normal;">Java, Swift, Flutter/Dart, C#, Delphi, Postman, Jest/Testing, Bootstrap, IntelliJ, Asana
    IDEA/Webstorm, Android Studio, XCode, VSCode, Firebase, Sketch, Google Analytics, Apple App Store, Google Play Store
    TestFlight, Firebase, Confluence, Stripe...
  </p>
</div>
<h2>Sprachen</h2>
<div class="skill">
  <div>Deutsch</div>
  <app-progress-bar [progress]="100"></app-progress-bar>
</div>
<div class="skill">
  <div>Englisch</div>
  <app-progress-bar [progress]="75"></app-progress-bar>
</div>
