<ul [ngClass]="{'horizontal' : horizontal}">
  <li><button [routerLink]="['/aboutme']" class="application-link">KONTAKT</button></li>
  <li><button [routerLink]="['/lebenslauf']" class="application-link">LEBENSLAUF</button></li>
  <li><button [routerLink]="['/skills']" class="application-link">SKILLS</button></li>
  <li><button [routerLink]="['/projects']" class="application-link">PROJEKTE</button></li>
  <li><button [routerLink]="['/code']" class="application-link">CODE</button></li>
  <li><button [routerLink]="['/aboutme']" class="application-link">ÜBER MICH</button></li>
</ul>
